* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
article {
    background-color: #A306B6;
    padding: 1rem;
    color: white;
}

