/* -------------------------------------------------------
	
	SOMMAIRE
	- Typographie base
	- Typographie

--------------------------------------------------------*/




/* -------------------------------------------------------

	TYPOGRAPHIE BASE

--------------------------------------------------------*/
/*
Système proportionnel

Il est important de bien définir les corps de polices (font-size), les retraits (padding) et les marges (margin) en unités typographiques, ici rem. 
Cela permet, lorsqu'on change le corps de référence (html = 62.5% = 10px), à l'ensemble de conserver ses proportions, tout étant basé sur la valeur du corps de police de html, l'élément racine.
*/

/* Définir le cadratin de référence (root) à 10px pour faciliter les calculs */ 
html {
	font-size: 62.5%;/* = 10px */
}
/* On remet body aux 16px par défaut */
/* On utilise .em au lieu de .rem à cause d'un bug du navigateur Chrome  */
/* https://code.google.com/p/chromium/issues/detail?id=320754 */
body {
	font-size: 1.6rem;/* = 16px */
	line-height: 1.5;/* Interlignage : 1.5 x 16px */
}
p {
	padding-bottom: 2.4rem;
}
h1 {
	font-size: 3.84rem;/* 2.6em = 2.6 x 16 = 38.4px = 3.84rem */
	line-height: 1.1; /* 1.1 = 38.4px x 1.1 = 42.24px = 4.224rem */
	padding-bottom: 3.84rem;/* 1em = 1 x 38.4 px = 3.84rem */
	font-weight: bold;
}
h2 {
	font-size: 2.88rem;
	line-height: 1.2;
	padding-bottom: 2.88rem;
}
h3 {
	font-size: 2.4rem;
	line-height: 1.3;
	padding-bottom: 2.4rem;
}
h4 {
	font-size: 1.92rem;
	line-height: 1.4;
	padding-bottom: 1.92rem;
}
h5 {
	font-size: 1.76rem;
	line-height: 1.4;
	padding-bottom: 1.76rem;
}
h6 {
	font-size: 1.6rem;
	line-height: 1.5;
	padding-bottom: 1.6rem;
}
blockquote {
	font-size: 2.08rem;
	font-style: italic;
	padding-left: 3.12rem;
	margin-bottom: 2.08rem;
}
ul, ol {
	margin-left: 1.6rem;
	margin-bottom: 1.6rem;
}
ul ul, ul ul ul, ol ol, ol ol ol {
	margin-top: 0;
	margin-bottom: 0;
}
/* -------------------------------------------------------
	FIN TYPOGRAPHIE BASE
--------------------------------------------------------*/












/* -------------------------------------------------------

	TYPOGRAPHIE

--------------------------------------------------------*/
body {
	font-family: "Source Sans 3", system-ui;
	font-weight: 400;
}
h1, 
h2, 
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', cursive;
	font-weight: bold;
}
a {
	text-decoration: none;
}
/* -------------------------------------------------------
	FIN TYPOGRAPHIE
--------------------------------------------------------*/



/* -------------------------------------------------------

	COULEURS

--------------------------------------------------------*/
body {
	color: var(--neutre-4);
}
h1 {
	color: var(--neutre-1);
} 
h2 {
	color: var(--primaire-1);
} 
a:link, 
a:visited {
	color: var(--neutre-1);
}
a:hover, 
a:active, 
a:focus {
	color: var(--neutre-1);
}
/* -------------------------------------------------------
	COULEURS
--------------------------------------------------------*/